<%- include ('_layouts/header_1');-%>

<div  class="row">
    
    <div class="col-xs-12 col-md-4 p">
        <h3><%= p.title %></h3>
        <a class="pa" href="/products/<%= p.category %>/<%= p.slug %>">
            <img style='margin-left:80%' class="pimage" src="/product_images/<%= p.id %>/<%= p.image %>" alt="">
        </a> <br><br><br><br><br><br>
        <h4 style="margin-left: 2%">Prix: <%= parseFloat(p.price).toFixed(2) %> €</h4>
        <p><a class='bt' href="/panier/ajout/<%= p.slug %>">Ajouter au panier</a></p>

    </div>
    
</div>

<%-include ('_layouts/footer');-%>