<%- include ('../_layouts/headeradmin');-%>
<br><br>

<h2 class="page-title">Mes Categories</h2>
<a href="/admin/categories/add-category" class="btn btn-primary"> Ajouter une categorie</a>
<br><br>
<table class="table table-striped">
    <thread>
        <tr>
            <th>Categorie</th>
            <th>Editer</th>
            <th>Supprimer</th>
        </tr>
    </thread>
    <tbody>
         <% categories.forEach(function(cat){%>
         <tr>
             <td><%= cat.title%></td>
             <td><a href="/admin/categories/edit-category/<%= cat.slug %>">Editer</a></td>
             <td><a class="deleted" href="/admin/categories/delete-category/<%=cat._id%>">Supprimer</a></td>
         </tr>
        <%});%> 
    </tbody>
    
</table>
<%-include ('../_layouts/footeradmin');-%>