<%- include ('../_layouts/headeradmin');-%>
<br><br>

<h2 class="page-title">Mes Produits</h2>
<a href="/admin.html" class="btn btn-primary"> Espace Admin</a>

<a href="/admin/products/add-product" class="btn btn-primary"> Ajouter un produit</a>
<br><br>
<table class="table table-striped">
    <thread>
        <tr class="Acceuil">
            <th>Produit</th>
            <th>Prix</th>
            <th>Categorie</th>
            <th>Image de produit </th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
    </thread>
    <tbody>
         <% products.forEach(function(product){%>
         <tr >
             <td><%= product.title%></td>
             <td><%=parseFloat(product.price).toFixed(2)%> €</td>
             <td><%= product.category%></td>
             <td>
                <% if (product.image == "") { %>
                <img id="imm" src="/images/vide.png">
                <% } else {%>
                <img id="imm" src="/product_images/<%= product._id %>/<%= product.image %>">
                <% }%>
            </td>
             <td><a href="/admin/products/edit-product/<%=product._id%>">Editer</a></td>
             <td><a class="deleted" href="/admin/products/delete-product/<%=product._id%>">Supprimer</a></td>
         </tr>
        <%});%> 
    </tbody>
    
</table>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<script>

    $('tbody').sortable({

        items: "tr:not('.Acceuil')",
        placeholder: "ui-state-hightlight",
        update: function () {
            var ids = $('tbody').sortable("serialize");
            var url = "/admin/pages/reorder-pages";
            
            $.post(url, ids);
        }

    });

</script>


<%-include ('../_layouts/footeradmin');-%>